DB_HOST=10.240.21.14666
DB_PORT=3306 # Puerto estándar de MySQL, ajústalo si es diferente
DB_USERNAME=inmsa66 # Asumo 'root', cámbialo por el usuario correcto si es diferente
DB_PASSWORD=inmsa201666
DB_DATABASE=securcentinela66
JWT_SECRET=InmsaSegura66 # Cambia esto por una clave secreta segura y compleja

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="mysql://inmsa:inmsa201666@10.240.21.14666:3306/securcentinela66"